
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap');

button, a {
    font-family: "Prosto One", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: var(--white)
}

h1 {
    font-family: "Ysabeau Office", sans-serif;
    font-weight: bold;
    color: var(--smokeyblack);
}

h2, h3, p, li, input {
    font-family: "Ysabeau Office", sans-serif;
    font-weight: normal;
    color: var(--smokeyblack);
}

p a {
    text-decoration: none;
    color: var(--mindaro);
}

.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout-header {
    background: linear-gradient(90deg, var(--jade), var(--mindaro));
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.home-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.logo {
    height: 75px;
    border-radius: 2px;
}

.navigation ul {
    display: flex;            /* Flexbox voor horizontale layout */
    list-style: none;         /* Verwijdert bulletpoints */
    padding: 0;               /* Verwijdert standaard padding */
    margin: 0;                /* Verwijdert standaard margin */
    gap: 10rem;                /* Ruimte tussen de items */
}

.navigation a {
    text-decoration: none;    /* Verwijdert onderstreping */
    color: var(--white);
    font-size: 18px;
}

.default-menu-link,
.active-menu-link {
    color: var(--white);
    text-decoration: none;
    position: relative;
}

/* Alleen actieve link krijgt onderstreep */
.active-menu-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px; /* iets onder de tekst */
    width: 100%;
    height: 6px;
    border-radius: 8px;
    background-color: var(--tomato);
}

.layout-main {
    flex-grow: 1;
    padding: 2rem;
    background-color: #f1f1f1;
}


.layout-footer {
    background: linear-gradient(90deg, var(--mindaro), var(--jade));
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.9rem;
}

.footer-center a,
.footer-right a {
    text-decoration: none;
}

